<ul class="list-group" *ngFor="let movie of movies; let i = index">
    <li class="list-group-item d-flex mb-3">
        <div class="col-9">
            <div class="row">
                <label class="col-2 font-weight-bold">Name: </label>
                <p class="col-10">{{ movie.title }}</p>
            </div>
            <div class="row">
                <label class="col-2 font-weight-bold">Director: </label>
                <p class="col-10">{{ movie.director }}</p>
            </div>
            <div class="row">
                <label class="col-2 font-weight-bold">Genre: </label>
                <p class="col-10">{{ movie.genre }}</p>
            </div>
            <div class="row">
                <label class="col-2 font-weight-bold">Description: </label>
                <p class="col-10">{{ movie.description }}</p>
            </div>
            <button class="btn btn-danger" (click)="onDeleteMovie(i)">Delete Movie</button>
            <button class="btn btn-success ml-2" (click)="onEditMovie(i)">Edit Movie</button>
        </div>
        <div class="col-3">
            <img [src]="movie.image_url" />
        </div>
    </li>
</ul>